<h4>Tasks</h4>
<div class="form-check ">
    <label class="form-check-label" for="flexCheckDefault">
        Create new table "Service"      </label>
        <p class="badge bg-danger">10-02-2022</p>
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  </div>
  <div class="form-check mt-4">
    <label class="form-check-label" for="flexCheckChecked">
        Add new lines in table "Client" from file 'Website_file.sql'
      </label>
      <p class="badge bg-danger">10-02-2022</p>
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
  </div>
  <div class="form-check mt-4">
    <label class="form-check-label" for="flexCheckChecked">
        Test the new form
      </label>
      <p class="badge bg-danger">10-02-2022</p>
      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
  </div>
  <div class="form-check mt-4">
    <label class="form-check-label" for="flexCheckChecked">
       Add new logo
      </label>
      <p class="badge bg-danger">10-02-2022</p>
      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
  </div>
