<header id="header" class="header fixed-top">
    
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
  
      <a  class="logo d-flex align-items-center">
       
        <span>Company</span>
      </a>
  
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " routerLink="/homechef/{{email}}">Home</a></li>
          <li><a class="nav-link scrollto" routerLink="/ProjlistComponent/{{email}}">Projects</a></li>
          <li><a class="nav-link scrollto" routerLink="/eventchef/{{email}}">Events</a></li>
          <li><a class="getstarted scrollto"  routerLink="/AddprojComponent/{{email}}">Add Project</a></li>
          <li><a   routerLink="/logout"><img src="https://img.icons8.com/color/48/null/exit.png"/></a></li>
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
  
    </div>
</header><!-- End Header -->