<header id="header" class="header fixed-top " >
    
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
  
      <a  class="logo d-flex align-items-center">
       
        <span> Company</span>
      </a>
  
      <nav id="navbar" class="navbar" >
        <ul>
          <li><a class="nav-link scrollto " routerLink="/HomePage/:email{{this.employe?.email}}">My projects</a></li>
          <li><a class="getstarted scrollto"  routerLink="/EmployeEventsComponent/:email{{this.employe?.email}}">Upcoming Events</a></li>
          <li><a   routerLink="/logout"><img src="https://img.icons8.com/color/48/null/exit.png"/></a></li>
    
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
</nav>