<div class="container " >
  <div class="row">
      <div class="col-12 ">
   
<div class="wrapper">
    <div class="title-text">
      <div class="title login">Login Form</div>
      <div class="title signup">Signup Form</div>
    </div>
    <div class="form-container">
    
      <div class="form-inner">
       
        <form >
          <div class="field mt-5">
            <input type="email" placeholder="Email Address" [(ngModel)]="email" name="email" required>
          </div>
          <div class="field mt-5">
            <input type="password" placeholder="Password" [(ngModel)]="pwd" [ngModelOptions]="{standalone: true}" required>
          </div>
         
          <div class="row btn filed btn mt-5" style="background: -webkit-linear-gradient(right,#003366,#004080,#0059b3
          , #0073e6);
          border-radius: 15px; color:white">
              <a class=" mt-2 btn btn-custom btn-sm"
              (click)="clickconnecter(email, pwd)" >Log in</a>
                 
                     
          </div>
        </form>
      </div>
    </div>
  </div>
      </div>
  </div>
</div>