<app-navbar-employee></app-navbar-employee>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

 
<section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up"> Stay Up-to-Date with Your Current Projects and Upcoming Events in the Employee Interface</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">
            As an employee, you may have access to a company's HR system that allows you to view your personal information, such as your job title, department, and contact details. In addition, you may also be able to see the projects you are working on and any upcoming company events that you are expected to attend.</h2>
       
        </div>
        
      </div>
    </div>

</section>