<div class="row">
    <div class="col-3">
        <h4>Attachements</h4>
        <button id="add" type="file" class="btn btn-primary" >+Add file</button> 
    </div>
    <div class="col-9 ofsset-2">
        <div class=" f row mt-2">
            <div class="col-md-3 col-xl-2">
                <div class="file-man-box"><a  class="file-close"><i class="fa fa-times-circle"></i></a>
                    <div class="file-img-box"><img src="https://coderthemes.com/highdmin/layouts/assets/images/file_icons/pdf.svg" alt="icon"></div><a href="#" class="file-download"><i class="fa fa-download"></i></a>
                   
                </div>
                <div class="file-man-title">
                    <h6 class="mb-0 ">invoice_project.pdf</h6>
                    <p class="mb-0"><small>568.8 kb</small></p>
                </div>
            </div>
            <div class="col-md-3 col-xl-2">
                <div class="file-man-box"><a  class="file-close"><i class="fa fa-times-circle"></i></a>
                    <div class="file-img-box"><img src="https://coderthemes.com/highdmin/layouts/assets/images/file_icons/bmp.svg" alt="icon"></div><a href="#" class="file-download"><i class="fa fa-download"></i></a>
                   
                </div>
                <div class="file-man-title">
                    <h6 class="mb-0 ">Bmpfile.bmp</h6>
                    <p class="mb-0"><small>845.8 mb</small></p>
                </div>
            </div>
            <div class="col-md-3 col-xl-2">
                <div class="file-man-box"><a  class="file-close"><i class="fa fa-times-circle"></i></a>
                    <div class="file-img-box"><img src="https://coderthemes.com/highdmin/layouts/assets/images/file_icons/psd.svg" alt="icon"></div><a href="#" class="file-download"><i class="fa fa-download"></i></a>
                 
                </div>
                <div class="file-man-title">
                    <h6 class="mb-0 ">Photoshop_file.ps</h6>
                    <p class="mb-0"><small>684.8 kb</small></p>
                </div>
            </div>
            <div class="col-md-3 col-xl-2">
                <div class="file-man-box"><a  class="file-close"><i class="fa fa-times-circle"></i></a>
                    <div class="file-img-box"><img src="https://coderthemes.com/highdmin/layouts/assets/images/file_icons/zip.svg" alt="icon"></div><a href="#" class="file-download"><i class="fa fa-download"></i></a>
                   
                </div>
                <div class="file-man-title">
                    <h6 class="mb-0 ">invoice_project.zip</h6>
                    <p class="mb-0"><small>568.8 kb</small></p>
                </div>
            </div>
            </div>
            <div class=" f row mt-2">
            <div class="col-md-3 col-xl-2">
                <div class="file-man-box"><a  class="file-close"><i class="fa fa-times-circle"></i></a>
                    <div class="file-img-box"><img src="https://coderthemes.com/highdmin/layouts/assets/images/file_icons/avi.svg" alt="icon"></div><a href="#" class="file-download"><i class="fa fa-download"></i></a>
            
                </div>
                <div class="file-man-title">
                    <h6 class="mb-0 ">Avifile.avi</h6>
                    <p class="mb-0"><small>5.9 mb</small></p>
                </div>
            </div>
            <div class="col-md-3 col-xl-2">
                <div class="file-man-box"><a  class="file-close"><i class="fa fa-times-circle"></i></a>
                    <div class="file-img-box"><img src="https://coderthemes.com/highdmin/layouts/assets/images/file_icons/cad.svg" alt="icon"></div><a href="#" class="file-download"><i class="fa fa-download"></i></a>
                  
                </div>
                <div class="file-man-title">
                    <h6 class="mb-0 ">Cadfile.cad</h6>
                    <p class="mb-0"><small>95.8 mb</small></p>
                </div>
            </div>
            <div class="col-md-3 col-xl-2">
                <div class="file-man-box"><a  class="file-close"><i class="fa fa-times-circle"></i></a>
                    <div class="file-img-box"><img src="https://coderthemes.com/highdmin/layouts/assets/images/file_icons/txt.svg" alt="icon"></div><a href="#" class="file-download"><i class="fa fa-download"></i></a>
                   
                </div>
                <div class="file-man-title">
                    <h6 class="mb-0 ">Mytextfile.txt</h6>
                    <p class="mb-0"><small>568.8 kb</small></p>
                </div>
            </div>
            <div class="col-md-3 col-xl-2">
                <div class="file-man-box"><a  class="file-close"><i class="fa fa-times-circle"></i></a>
                    <div class="file-img-box"><img src="https://coderthemes.com/highdmin/layouts/assets/images/file_icons/sql.svg" alt="icon"></div><a href="#" class="file-download"><i class="fa fa-download"></i></a>
                  
                </div>
                <div class="file-man-title">
                    <h6 class="mb-0 ">Website_file.sql</h6>
                    <p class="mb-0"><small>457.8 kb</small></p>
                </div>
            </div>
       
            </div>
    </div>
    </div>
  
