<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
<app-nvchef></app-nvchef> 
<section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Welcome, Project Manager!</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">
            As a Project Manager, you are responsible for managing the overall vision and strategy for a product. This involves adding new projects, editing and deleting existing projects, preparing new tasks for employees, and checking the progress of each project.</h2>
          <div data-aos="fade-up" data-aos-delay="600">
          </div>
        </div>
        
      </div>
    </div>
</section>